.ds_cursor{
    cursor: pointer;
}
.ds_header_img{
    background: rgba(1, 1, 4, 1);
    height: 80px;
}
.ds_header_main{
    width: 82%;
}
.ds_header_input {
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, 
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0.0447917) 77.08%, 
        rgba(255, 255, 255, 0) 100%);
    
    border: 1px solid white;
    border-radius: 5px; /* Adjust as needed */
    background-clip: padding-box;
    outline: none;
    padding: 9px 40px;
    width: 500px;
    margin-top: 17px;
    color: white;
}
.ds_search{
    position: absolute;
    top: 24px;
    left: 16px;
}
.ds_notifi{
    position: absolute;
    top: 50px;
    left: -300px;
    width: 400px;
    background: rgba(12, 17, 24, 1);
    box-shadow: 0px 4px 16px 0px rgba(105, 105, 105, 0.1);
    z-index: 1;
}
.ds_profile{
    position: absolute;
    top: 50px;
    left: -130px;
    width: 215px;
    background: rgba(12, 17, 24, 1);
    box-shadow: 0px 4px 16px 0px rgba(105, 105, 105, 0.1);
    z-index: 1;
}
.ds_border{
    background: rgba(106, 106, 106, 1);
     height: 1px;
}
.ds_head_txt{
    color: rgba(198, 198, 198, 1);
}

.ds_lh{
    line-height: 22px;
}
.ds_head_text{
    color: rgba(255, 255, 255, 1);
}
.ds_notification{
    height: 450px;
}
.ds_noti_bell{
    margin-right: 20px;
}
.ds_header_password{
    background: rgba(12, 17, 24, 1);
}
.ds_head_eye{
    position: absolute;
    top: 14px;
    right: 10px;
}
.ds_head_modal .modal-dialog{
    max-width: 560px;
}
.ds_log_yes{
    background: rgba(255, 255, 255, 1);
    padding: 10px 55px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 20px;
}
.ds_log_yes:hover{
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.0447917) 77.08%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    color: white; 
}

@media (max-width:1441px) {
    .ds_header_main{
        width: 78%;
    }
}

@media (max-width:1200px) {
    .ds_header_main{
        width: 78%;
    }
    .ds_notifi{
        top: 50px;
        left: -200px;
        width: 300px;
    }
}

@media (max-width:992px) {
    .ds_header_main{
        width: 70%;
    }
    .ds_notifi{
        top: 50px;
        left: -198px;
        width: 300px;
    }
    .ds_header_input{
       width: 300px;
    }
}

@media (max-width:767px) {
    .ds_header_main{
        width: 100%;
    }
    .ds_notifi{
        top: 50px;
        left: -162px;
        width: 300px;
    }
    .ds_profile{
        left: -85px;
    }
    .ds_header_input{
       width: 300px;
    }
}

@media (max-width:576px) {
    .ds_header_input {
        width: 130px;
    }
    .ds_notifi{
        top: 50px;
        left: -167px;
        width: 300px;
    }
    .ds_head_modal .modal-dialog{
        max-width: 400px;
        margin: auto;
    }
    
}

@media (max-width:426px) {
    .ds_notifi{
        top: 50px;
        left: -222px;
        width: 300px;
    }
    .ds_head_modal .modal-dialog{
        max-width: 350px;
    }
    .ds_log_yes{
       padding: 8px 30px;
    }
}

@media (max-width:376px) {
    .ds_header_input {
        width: 130px;
    }
    .ds_profile_img{
        width: 70%;
    }
    .ds_noti_img{
        width: 75%;
    }
    .ds_noti_bell{
        margin-right: 5px;
    }
    .ds_notifi{
        top: 50px;
        left: -222px;
        width: 300px;
    }
    .ds_profile{
        left: -105px;
        width: 200px;
    }
    .ds_head_modal .modal-dialog{
        max-width: 330px;
    }
}

@media (max-width:321px) {
    .ds_notifi{
        top: 50px;
        left: -201px;
        width: 300px;
    }
    .ds_head_logo{
         font-size: 21px;
    }
    .ds_head_modal .modal-dialog{
        max-width: 300px;
    }
}