.V_review_btn {
    background: #ffffff;
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.V_review_btn1 {
    background: #ffffff;
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.V_review_btn:hover{
    background-color: rgb(214, 211, 211); 
}

.V_review_btn1:hover{
    background-color: rgb(214, 211, 211); 
}

.V_review_bg {
    background: #171F28;
    height: 650px;
    border-radius: 5px;
}


.V_review_table thead tr th,
td {
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
}

.V_review_table thead tr th {
    border-bottom: 0.8px solid #C6C6C64D;
}

.V_review_icon {
    background-color: white;
    padding: 3px 5px 5px 5px;
    border-radius: 3px;
}

.V_pagination {
    font-size: 13px;
    width: 32px;
    height: 32px;
    background: #030303;
    color: white;
    padding-top: 6px;
    /* margin: 0 5px; */
    cursor: pointer;
}

.V_pagination1 {
    font-size: 13px;
    width: 32px;
    height: 32px;
    background: #949090;
    color: black;
    font-weight: 600;
    padding-top: 6px;
    /* margin: 0 5px; */
}

.V_pagination:hover{
    border: 1px solid white;
}
.V_pagination1:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}
.V_pagination.disabled {
    opacity: 0.5;
    pointer-events: none;
}


.V_modal_header {
    border: 0px;
}

.V_label {
    font-weight: 400;
    font-size: 16px;
    color: #C6C6C6E5;
}

.V_input_text_for_all {
    width: 100%;
    height: 44px;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    gap: 10px;
    background: #171F28;
    color: white;
    /* border: 1px solid #ced4da !important; */
    border: none;
}

.V_input_text_for_all:focus-visible {
    border: 0px;
    outline: none;
}

.V_save {
    font-weight: 600;
    font-size: 14px;
    background: #FFFFFF;
    color: black;
    border: none;
    border-radius: 6px;
}

.V_clear {
    font-weight: 600;
    font-size: 14px;
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.0447917) 77.08%, rgba(255, 255, 255, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    /* border: 1px solid #ced4da !important; */
    color: white;
    border-radius: 6px;
}

.V_label2 {

    font-weight: 400;
    font-size: 18px;
    color: rgba(198, 198, 198, 1);
}

.V_label1 {

    font-weight: 500;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.V_modal_width .modal-content {
    box-shadow: rgba(22, 22, 22, 0.25) 0px 54px 55px, rgba(107, 106, 106, 0.12) 0px -12px 30px, rgba(121, 120, 120, 0.12) 0px 4px 6px, rgba(104, 103, 103, 0.17) 0px 12px 13px, rgba(250, 249, 249, 0.09) 0px -3px 5px;
    background: rgba(12, 17, 24, 1);
}


.V_home_corousel_image {
    height: 30px;
    width: 30px;
}



.V_input_file_image_for_all {
    width: 100%;
    height: 44px;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    gap: 10px;
    background: #171F28;
    color: white;
    border: none;
    /* border: 1px solid #ced4da !important; */
}


.custom-file-input {
    display: none;
    /* Hide default file input */
}

.custom-input-group {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    gap: 10px;
    background: #171F28;
    color: white;

}

.custom-text {
    flex: 1;
    background: none;
    border: none;
    color: white;
    padding: 5px;
    outline: none;
    width: 100%;
}

.custom-button {
    background-color: white;
    color: black;
    border: none;
    padding: 0px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.V_castCrew_image {
    width: 120px;
    height: 120px;
}

.ds_sub_select1 {
    background: rgba(23, 31, 40, 1);
    color: white;
    border: none;
    padding: 5px 15px;
}

.ds_cursor{
    cursor: pointer;
}

/* ================ media query ================ */


@media (max-width: 1921px) and (min-width: 1651px) {
    .ds_sub_select1 {
        padding: 10px 15px;
    }
}

@media (max-width: 1650px) and (min-width: 1441px) {
    .ds_sub_select1 {
        padding: 10px 15px;
    }
}

@media (max-width: 1440px) and (min-width: 1200px) {
    .ds_sub_select1 {
        padding: 10px 15px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .V_input_text_for_all {
        height: 40px;
    }

    .custom-input-group {
        height: 40px;
    }

    .ds_sub_select1 {
        padding: 8px 15px;
    }
}

@media (max-width: 991px) and (min-width: 769px) {
    .V_modal_width .modal-dialog {
        width: 90%;
        margin: auto auto;
    }

    .V_input_text_for_all {
        height: 40px;
    }

    .custom-input-group {
        height: 40px;
    }

    .V_castCrew_image {
        width: 100px;
        height: 100px;
    }

    .ds_sub_select1 {
        padding: 8px 15px;
    }
    /* .custom-text {
        width: 135px;
    } */
    /* .custom-text {
        width: 100px;
    } */
}

@media (max-width: 768px) and (min-width: 576px) {
    .V_modal_width .modal-dialog {
        width: 90%;
        margin: auto;
    }

    .V_input_text_for_all {
        height: 35px;
    }

    .custom-input-group {
        height: 35px;
    }

    .V_castCrew_image {
        width: 100px;
        height: 100px;
    }
    /* .custom-text {
        width: 85px;
    } */

}

@media (max-width: 575px) and (min-width: 481px) {
    .V_modal_width .modal-dialog {
        width: 90%;
        margin: auto;
    }

    .V_input_text_for_all {
        height: 35px;
    }

    .custom-input-group {
        height: 35px;
    }
    
}

@media (max-width: 480px) and (min-width: 320px) {
    .V_modal_width .modal-dialog {
        width: 90%;
        margin: auto;
    }

    .V_input_text_for_all {
        height: 35px;
    }

    .custom-input-group {
        height: 35px;
    }

    .V_label2 {
        font-size: 14px;
    }

    .V_label1 {
        font-size: 16px;
    }

    .V_review_btn1 {
        background: #ffffff;
        border-radius: 5px;
        padding: 8px 9px;
        border: none;
        font-size: 18px;
        font-weight: 600;
    }
    /* .custom-text {
        width: 155px;
    } */
}