.V_login_back {
    background-image: url("../Images/login_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.modal-content {
    background-color: #000000;
}

.V_sign_in_1_modal {
    width: 70%;
}

.V_icon_1 {
    width: 20px;
    height: 20px;
}

.V_icon_2 {
    width: 20px;
    height: 20px;
}
.V_icon_3 {
    width: 20px;
    height: 20px;
}

.V_input_1 {
    width: 70%;
    padding: 12px 0px;
    background: #111;
    color: #fff;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1),
        0px 0px 15px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(16.3px);
    outline: none;
    transition: all 0.3s ease;
}

.V_input_1:focus-visible {
    outline: none;
}

.V_password:focus-visible {
    outline: none;
    color: #FFFFFF;
}

.V_password {
    color: #FFFFFF;
}

.V_submit_1 {
    font-weight: 600;
    font-size: 18px;
    border-radius: 6px;
}

.V_forgot_pwd {
    font-weight: 600;
    font-size: 28px;
}

.V_sub_forgot {
    font-weight: 400;
    font-size: 16px;
    color: #C6C6C6;
}

.V_input_otp {
    width: 7%;
    padding: 12px 0px;
    background: #111;
    color: #fff;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1),
        0px 0px 15px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(16.3px);
    outline: none;
    transition: all 0.3s ease;
    text-align: center;
}

.V_sign_in_1_modal_otp {
    width: 100%;
}

.V_resend {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: #C6C6C6;
}

.V_resend_otp {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}






/* ================ media query ================ */


@media (max-width: 1921px) and (min-width: 1651px) {}

@media (max-width: 1650px) and (min-width: 1441px) {}

@media (max-width: 1440px) and (min-width: 1200px) {}

@media (max-width: 1199px) and (min-width: 992px) {}

@media (max-width: 991px) and (min-width: 768px) {
    .V_sign_in {
        font-weight: 600;
        font-size: 28px;
    }

    .V_sign_in_1_modal {
        width: 80%;
    }

    .V_input_1 {
        width: 80%;
        padding: 13px 0px;
    }

    .V_submit_1 {
        font-size: 18px;
    }

    .V_input_otp {
        width: 10%;
        padding: 12px 0px;
    }
    .V_forgot_pwd {
        font-size: 24px;
    }
    
    .V_sub_forgot {
        font-size: 16px;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .V_sign_in {
        font-weight: 600;
        font-size: 28px;
    }

    .V_sign_in_1_modal {
        width: 80%;
    }

    .V_input_1 {
        width: 80%;
        padding: 10px 0px;
    }

    .V_submit_1 {
        font-size: 16px;
    }
    .V_input_otp {
        width: 10%;
        padding: 12px 0px;
    }
    .V_forgot_pwd {
        font-size: 24px;
    }
    
    .V_sub_forgot {
        font-size: 16px;
    }
}

@media (max-width: 575px) and (min-width: 481px) {

    /* .modal-content{
        width: 90%;
    } */
    .V_sign_in {
        font-weight: 600;
        font-size: 28px;
    }

    .V_sign_in_1_modal {
        width: 90%;
    }

    .V_input_1 {
        width: 90%;
        padding: 10px 0px;
    }

    .V_submit_1 {
        font-size: 16px;
    }

    .V_input_otp {
        width: 10%;
        padding: 12px 0px;
    }
    .V_forgot_pwd {
        font-size: 20px;
    }
    
    .V_sub_forgot {
        font-size: 16px;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .V_sign_in {
        font-weight: 600;
        font-size: 28px;
    }

    .V_sign_in_1_modal {
        width: 90%;
    }

    .V_input_1 {
        width: 90%;
        padding: 10px 0px;
    }


    .V_submit_1 {
        font-size: 16px;
    }

    .V_input_otp {
        width: 13%;
        padding: 12px 0px;
    }
    .V_forgot_pwd {
        font-size: 20px;
    }
    
    .V_sub_forgot {
        font-size: 16px;
    }
}