.ds_side_main{
    width: 100%;
    min-width: 300px;
}
.ds_side_bg{
    background: rgba(1, 1, 4, 1);
    min-height: 100vh;
    position: absolute;
    height: 100%;
    /* height: 950px; */
    overflow-y: auto;
    min-width: 300px;
}

.ds_side_bg::-webkit-scrollbar {
    width: 8px;
  }
  
  .ds_side_bg::-webkit-scrollbar-track {
    background: #121a24;
    border-radius: 4px;
  }
  
  .ds_side_bg::-webkit-scrollbar-thumb {
    background: #94a3b4;
    border-radius: 4px;
  }
  
  .ds_side_bg::-webkit-scrollbar-thumb:hover {
    background: #394857;
  }

  

.ds_active_color {
    position: relative;
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(236, 230, 230, 0.4) 0%, rgba(240, 234, 234, 0.045) 77.08%, rgba(245, 242, 242, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 0.3px solid;
}
.ds_active_pad{
    margin-right: 30px;
    padding: 13px 0px;
    border-radius: 5px;
    cursor: pointer;
    border: 0.3px solid transparent;

}
.ds_active_pad:hover{
    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(236, 230, 230, 0.4) 0%, rgba(240, 234, 234, 0.045) 77.08%, rgba(245, 242, 242, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.ds_side_title{
    font-weight: 400;
}
.ds_side_off_main{
    background: rgba(1, 1, 4, 1);
    width: 300px;
}
.ds_side_off_main .offcanvas-header .btn-close{
    background-image: url(../Images/dhruvin/cancel.svg);
    font-size: 25px;
}  


@media (max-width:1441px) {
    .ds_side_main{
        width: 100%;
    }
}

@media (max-width:1200px) {
    .ds_side_main{
        width: 100%;
    }
    .ds_side_title{
        font-size: 16px;
    }
    .ds_side_icon{
        width: 90%;
    }
}

@media (max-width:992px) {
    .ds_side_main {
        width: 100%;
        min-width: 250px;
    }
    .ds_side_bg {
        min-width: 250px;
    }
}

@media (max-width:992px) {
    .ds_side_off_main{
        background: rgba(1, 1, 4, 1);
        width: 280px;
    }
}